/* global */
body {
  color: var(--slate-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}

/* variable */

:root {
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --dairy-color: #fcfcfc;
  --green-color: #31d0aa;
  --grey-color: #2e2f42;
  --iris-color: #4d5ae5;
  --light-slate-color: #8e8f99;
  --navy-blue-color: #2e2f42;
  --navy-blue-modal-color: #2e2f4264;
  --ocean-color: #404bbf;
  --slate-color: #434455;
  --white-color: #ffffff;

  --font-logo: 'Raleway', sans-serif;
  --font-button: 'Roboto', sans-serif;
  --logo-size: 18px;
  --logo-letter-spacing: 0.03em;
  --body-letter-spacing: 0.02em;
  --button-size: 16px;
  --line-height-main: 1.5;
}

/* end variable */

/* selectors */
/* header */
/* logo */
.logo {
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: var(--logo-size);
  letter-spacing: var(--logo-letter-spacing);
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--iris-color);
}
.link {
  text-decoration: none;
}
.web {
  color: var(--grey-color);
}
/* end logo */
.list {
  list-style: none;
}
.subpage {
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  font-weight: 500;
  letter-spacing: var(--body-letter-spacing);
}
.contacts {
  color: var(--slate-color);
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  font-style: normal;
  text-decoration: none;
  letter-spacing: var(--body-letter-spacing);
}
.subpage {
  color: var(--navy-blue-color);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus,
.subpage:hover,
.subpage:focus {
  color: var(--ocean-color);
}
/* end header */
/* main */
.title-one {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--body-letter-spacing);
  text-align: center;
}
.text {
  color: var(--slate-color);
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  letter-spacing: var(--body-letter-spacing);
}
.title-two {
  font-size: 36px;
  letter-spacing: var(--body-letter-spacing);
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}
.title-three {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: var(--body-letter-spacing);
  line-height: 1.2;
  color: var(--navy-blue-color);
}
.page-part-four {
  background-color: var(--cloud-color);
}
.page-part-four-figure {
  background-color: var(--white-color);
}
.push {
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  font-family: var(--font-button);
  letter-spacing: 0.04em;
  line-height: var(--line-height-main);
  font-size: var(--button-size);
  font-weight: 500;
}

.push:hover,
.push:focus {
  background-color: var(--ocean-color);
}
.portfolio {
  color: var(--iris-color);
  background-color: var(--cloud-color);
}
.portfolio:hover,
.portfolio:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}
/* end main */
/* footer */
.logo-footer-color {
  color: var(--cloud-color);
}

.footer-style,
.page-part-one {
  background-color: var(--navy-blue-color);
}

.footer-style {
  color: var(--cloud-color);
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  letter-spacing: var(--body-letter-spacing);
}
/*end footer */
/* end selectors */
